/*========== Reset ==========*/
* { 
    margin: 0;
	padding: 0;
    text-decoration:none;
}


body { 
    background-color:rgba(95, 26, 0, 0.87);
    font-family: sans-serif;
    overflow: hidden;
}


.ui {
    position:absolute;
    z-index: 5;
}


#settingBtn {
    left:80vw;
    top:0;
}


#hintBtn {
    left:80vw;
    top:85vh;
}


#prizeBtn {
    left:0;
    top:85vh;
}



/*====測試用====*/
.testClass{
    font-size:1.5em;
    color:rgba(17, 201, 24, 0.67);
}


#demo {
    font-size: 1em;
}
